:root {
	--bg-color: #001253;
	--primary-color: #E14D2A;
}

body {
	background: var(--bg-color);
	color: var(--primary-color);
	font-family: 'Zen Antique', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	gap: 1rem;
}


h1 {
	font-size: 4rem;
}
h3 {
	font-size: 2rem;
}
div {
	font-size: 1.5rem;
}

.box {
	border: solid 1px lemonchiffon;
	padding: 1rem;
	font-size: 2rem;
}